body {
    background-color: #e0e0e0;
    color: #5b5b5b;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-container i {
    display: inline;
    padding-top: 24px;
    padding-left: 18px;
}

.header-main {
    text-align: center;
    color: white;
    background-color: #009E60;
    margin-bottom: 4em;
    font-family: 'Titan One', cursive;
}

.logo-container h1 {
    font-size: 6.75em;
}

header p {
    font-size: 1.75em;
    padding-bottom: 12px;
}

.result-container {
    height: auto;
}

.result-container div {
    margin: 20px auto;
    font-size: 1em;
}

footer {
    background-color: #009E60;
    color: white;
    padding: 24px;
    margin-top: 60px;
    text-align: center;
    border-radius: 10px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.ingredient_search {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingredient-input {
    width: 60%;
    text-align: center;
    margin-bottom: 2px;
}

.search {
    width: 60%;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border-radius: 4px;
  }

  .recipe img {
      width: 200px;
      height: 200px;
  }

  .recipe {
      border: 1px solid grey;
      border-radius: 10px;
      padding: 16px;
      margin: solid 1px black;
  }
  section .recipe {
    background-color: whitesmoke;
  }

  .recipe-title {
      font-size: 2em;
      font-weight: 600;
  }

  .prep-time {
      font-weight: 600;
  }
  ul{
      display: inline;
  }

  li {
      font-size: 1.5em;
      list-style: none;
   
  }

li button {
    width: 60%;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(127, 232, 184);
    color: white;
    border-radius: 4px;
}
 