* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body {
    background-image: url("/assets/images/genericyellowbg.jpg");
    background-size: cover;
}

header {
    color: white;
    background-color: #008000 ;
    padding: 24px 0 20px 24px;
    width: 100%;
    text-align: left;
}

header h1 {
    font-size: 5em;
}

header p {
    font-size: 1.35em;
}
.logo-container {
    display: flex;
}

i {
    display: inline;
    padding-top: 18px;
    padding-left: 12px;
}

/* section {
    width: 100%;
}

.content-main {
    width: 75%;
    margin: 14em auto;
    padding: 14em;
    background-color: white;
}

button {
    margin: 0 auto;
    color: white;
    background-color: #008000;
} */